html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    background-image: url('https://images.pexels.com/photos/490411/pexels-photo-490411.jpeg?cs=srgb&dl=asphalt-blue-sky-clouds-490411.jpg&fm=jpg');
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#main {

}

h1 {
    font-size: 1.35vw;
    margin-top: 35px;
}

h3 {
    font-size: 1.15vw;
}



.header {
    width: 100%;
    left: 15%;
    margin: 0.5% 0%;
    text-align: left;
    position: fixed;
}

.go-home {
    width: 15%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.go-home-photo {
    width: 100%;
    height: 1%;
    box-shadow: 2px 2px grey;
    border-radius: 3px;
}

.user-authentication{
    width: 69%;
    display: inline-block;
    text-align: right;
    margin-bottom: 0.9%;
}

.auth-button-1 {
    padding: 0.5% 1%;
    background-color: #ffffff;
    border-radius: 15px;
    font-size: 1.1vw;
}

.auth-button-2 {
    padding: 0.5% 1%;
    background-color: #ffffff;
    border-radius: 15px;
    font-size: 1.1vw;
    margin-right: 5%;
}



.logging-on {
    margin-top: 3%;
    text-align: center;
}

#googleSigninButton {
    display: inline-block;
}



#maker-list {
    font-family: sans-serif;
    background-color: #ffffff;
    border-radius: 15px;
    width: 15%;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    position: fixed; /* use (position: fixed) will cause the div come out of the plane, and its position will no longer be respected by other divs. */
    left: 15%; /* fixed to the viewport, with 15% distance to the left of the main div. */
    text-align: center;
    margin-top: 4.5%;
}

.maker{
    margin: 35px 0;
    text-align: right;
}

.brand-container {
    display: inline-block;
    vertical-align: middle;
}

.brands {
    font-size: 0.95vw;
}

.new-maker-button {
    font-size: 1vw;
    font-weight: bold;
    font-style: italic;
    color: orange;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.logo-container {
    width: 42.5%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.logos {
    max-width: 66.5%;
    max-height: 47.5px;
    width: auto;
    height: auto;
}



#new-stock, #model-list {
    font-family: sans-serif;
    background-color: #ffffff;
    width: 55%;
    max-width: 1000px;
    position: relative; /* Because we used (position: fixed), we need to use (position: relative) here to calculate the distance and manually respect the position of the fixed div. */
    left: 31%; /* relative to the normal flow position, with 31% distance to the left of the main div. Tried several numbers and used 31% here for respecting the fixed list. */
    display: inline-block;
    text-align: center;
    margin-top: 4.5%;
    border-radius: 6px;
}

.new-stock-model, .model, .new-maker-title-container, .edit-maker-title-container, .delete-maker-title-container, .new-model-title-container, .edit-model-title-container, .delete-model-title-container {
    margin: 50px 0;
}

.model-photo-container {
    width: 100%;
    display: inline-block; /* this (display: inline-block) is necessary for the parent level's (text-align: center) to work. */
}

.model-photo {
    max-height: 500px;
    width: 80%;
    height: auto;
    box-shadow: 5px 5px grey;
}

.model-maker-info-container, .model-info-container {
    margin-top: 15px;
    width: 90%;
    display: inline-block;
}

.maker-owner {
    margin-left: 45%;
}

.public-model-info-container {
    margin-top: 15px;
    width: 90%;
    display: inline-block;
    text-align: right;
}

.model-name-container {
    width: 43%;
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
}

.new-stock-model-maker {
    font-size: 1.35vw;
    font-weight: bold;
    color: green;
}

.new-stock-model-name {
    font-size: 1.15vw;
    color: brown;
    text-decoration: underline;
}

.model-update-time-container {
    width: 55%;
    display: inline-block;
    text-align: right;
}

.model-update-time {
    font-size: 0.95vw;
    font-style: italic;
    color: grey;
}



.new-model {
    font-size: 1.2vw;
    font-weight: bold;
    font-style: italic;
    color: orange;
}

.edit-maker-button, .delete-maker-button {
    font-size: 0.9vw;
}

.new-model-container, .model-edit-delete-container {
    width: 45%;
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
}

.edit-model-button, .delete-model-button {
    font-size: 0.9vw;
}

.model-maker-edit-delete-container, .model-name-description-container {
    width: 50%;
    display: inline-block;
    text-align: right;
}

.public-model-name-description-container {
    width: 90%;
    display: inline-block;
    margin-right: 50px;
}

.model-name {
    font-size: 1.25vw;
    font-weight: bold;
    color: brown;
}

.model-description {
    font-size: 0.95vw;
    font-style: italic;
    color: grey;
}



#new-maker, #edit-maker, #delete-maker, #new-model, #edit-model, #delete-model {
    text-align: center;
}

.new-maker-brand-name-container, .new-maker-maker-logo-container, .edit-maker-rename-brand-container, .edit-maker-rebuild-logo-container, .new-model-name-container, .new-model-description-container, .new-model-photo-container, .edit-model-rename-container, .edit-model-description-container, .edit-model-photo-container {
    margin: 30px 0 60px;
}

.new-maker-brand-name, .new-maker-maker-logo, .edit-maker-rename-brand, .edit-maker-rebuild-logo, .new-model-name, .new-model-description, .new-model-photo, .edit-model-rename, .edit-model-description, .edit-model-photo {
    font-size: 18px;
    color: white;
}

.delete-form-container {
    margin-top: 50px;
}



.maker-flash-messages-container {
    background-color: aquamarine;
    padding: 10px 0;
    margin: 20px 0;
    text-align: left;
}

.maker-flash-messages {
    font-size: 1vw;
    font-weight: bold;
    font-style: italic;
    color: red;
}

.model-flash-messages-container {
    background-color: aquamarine;
    padding: 10px 0;
    margin-top: 30px 0 50px;
}

.model-flash-messages {
    font-size: 1.1vw;
    font-weight: bold;
    font-style: italic;
    color: red;
}



@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 1.65vw;
        margin-top: 35px;
    }
    
    h3 {
        font-size: 1.45vw;
    }

    .auth-button-1 {
        padding: 0.5% 1%;
        background-color: #ffffff;
        border-radius: 15px;
        font-size: 1.2vw;
    }

    .auth-button-2 {
        padding: 0.5% 1%;
        background-color: #ffffff;
        border-radius: 15px;
        font-size: 1.2vw;
        margin-right: 5%;
    }

    .brands {
        font-size: 1.05vw;
    }
    
    .new-maker-button {
        font-size: 1.15vw;
        font-weight: bold;
        font-style: italic;
        color: orange;
    }

    .new-stock-model-maker {
        font-size: 1.55vw;
        font-weight: bold;
        color: green;
    }
    
    .new-stock-model-name {
        font-size: 1.35vw;
        color: brown;
        text-decoration: underline;
    }

    .model-update-time {
        font-size: 1.2vw;
        font-style: italic;
        color: grey;
    }
    
    .new-model {
        font-size: 1.5vw;
        font-weight: bold;
        font-style: italic;
        color: orange;
    }
    
    .edit-maker-button, .delete-maker-button {
        font-size: 1.1vw;
    }
    
    .edit-model-button, .delete-model-button {
        font-size: 1.1vw;
    }
    
    .model-name {
        font-size: 1.5vw;
        font-weight: bold;
        color: brown;
    }
    
    .model-description {
        font-size: 1.2vw;
        font-style: italic;
        color: grey;
    }
    
    .maker-flash-messages {
        font-size: 1.2vw;
        font-weight: bold;
        font-style: italic;
        color: red;
    }
    
    .model-flash-messages {
        font-size: 1.3vw;
        font-weight: bold;
        font-style: italic;
        color: red;
    }
}

@media only screen and (max-width: 750px) {
    .header {
        width: 100%;
        left: 9%;
        margin: 0.5% 0%;
        text-align: left;
        position: fixed;
    }

    .user-authentication{
        width: 74%;
        display: inline-block;
        text-align: right;
        margin-bottom: 0.9%;
    }

    #maker-list {
        font-family: sans-serif;
        background-color: #ffffff;
        border-radius: 15px;
        width: 8%;
        display: inline-block;
        vertical-align: top;
        position: fixed; /* use (position: fixed) will cause the div come out of the plane, and its position will no longer be respected by other divs. */
        left: 15%; /* fixed to the viewport, with 15% distance to the left of the main div. */
        text-align: center;
        margin-top: 4.5%;
    }

    #new-stock, #model-list {
        font-family: sans-serif;
        background-color: #ffffff;
        width: 60%;
        position: relative; /* Because we used (position: fixed), we need to use (position: relative) here to calculate the distance and manually respect the position of the fixed div. */
        left: 25%; /* relative to the normal flow position, with 31% distance to the left of the main div. Tried several numbers and used 31% here for respecting the fixed list. */
        display: inline-block;
        text-align: center;
        margin-top: 4.5%;
        border-radius: 6px;
    }
    
    .maker{
        margin: 35px 0;
        text-align: center;
    }

    .brand-container {
        display: none;
    }

    .logo-container {
        width: 80%;
        display: inline-block;
        vertical-align: middle;
    }
}