{% extends "base.html" %}
{% block content %}
    <section id = "delete-maker">
        <div class = "delete-maker-title-container">
            <h2>Do you really Hate {{ deleted_maker.name }} that much??</h2>
        </div>
        <div class = "delete-form-container">
            <form action = "{{ url_for('deleteMaker', maker_id = deleted_maker.id) }}", method = 'POST'>
                <div class = "form-row">
                    <button type = "delete">Delete...</button>
                    <!-- Need to use <button> tag rather than a <input> here,
                        otherwise the <input> will become too wide and form a weird shape. -->
                    <a href = "{{ url_for('goHome') }}"><div class = "forget-button">Forget about it! I regret now!!!</div></a>
                    <!-- Need to use <a> tag wrap a <div> rather than a <button> here,
                        otherwise the <button> will trigger the form to be submitted and create an unwanted empty maker. -->
                </div>
            </form>
        </div>
    </section>
{% endblock %}