{% extends "base.html" %}
{% block content %}
    <section id = "delete-model">
        <div class = "delete-model-title-container">
            <h2>Not satisfied with {{ deleted_model.name }}???</h2>
        </div>
        <div class = "delete-form-container">
            <form action = "{{ url_for('deleteModel', maker_id = maker_id, model_id = model_id) }}", method = 'POST'>
                <div class = "form-row">
                    <button type = "delete">Delete...</button>
                    <!-- Need to use <button> tag rather than a <input> here,
                        otherwise the <input> will become too wide and form a weird shape. -->
                    <a href = "{{ url_for('showModels', maker_id = maker_id) }}"><div class = "forget-button">No No No, Stop this!</div></a>
                    <!-- Need to use <a> tag wrap a <div> rather than a <button> here,
                        otherwise the <button> will trigger the form to be submitted and create an unwanted empty maker. -->
                </div>
            </form>
        </div>
    </section>
{% endblock %}